body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar p {
  display: inline-block;
  width: fit-content;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0;
  background-color: #29465b;
  color: white;
  width: 100%;
}

.footer div {
  align-self: flex-end;
}

.productlist {
  display: flex;
  flex-direction: column;
  background-color: lightgray;

  padding: 2em 0 2em 0;

  flex-grow: 1;
  height: 100%;
}

.productlist div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.product {

  width: 20%;
  min-width: 200px;
  max-width: 250px;

  height: 60vh;
  min-height: 400px;
  max-height: 500px;

  display: flex;
  flex-direction: column!important;

  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin: 1em;

  background-color: white;
}

.product img {
  width: 50%;
}

.login {
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: space-around

}

.register {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.register * {
  margin: 0.5em;
}