* {
    margin: 0;
    padding: 0;
}


.main {
    width: 100vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
}

.nav p {
    cursor: pointer;
}

.hidden {
    display: none!important;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;

    background-color: lightgrey
}

.card {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin: 2em;
    padding: 0.5em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    min-height: 100px;
}

.new-post {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    padding: 1.5em;

    background-color: grey;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.new-post * {
    margin: 1.5em;
    padding: 3px;
}

.new-post input, .new-post textarea {
    width: 80%;
}

.new-post textarea {
    height: 40vh;
}

.new-post button {
    width: 10%;
    min-width: 100px;
}